*{
    margin: 0;
    padding: 0;
}

.logo img{
    height: 6rem;
    width: 6rem;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 4rem;
    align-items: center;
}

nav ul, .nav1{
    display: none;
}

.burger{
    display: flex!important; 
    font-size: 2rem!important;
}

/*HERO SECTION*/
section.hero{
    background-image: url('Assets&images/hero-pic.jfif');
    background-size: cover;
    height: 75vh;
    width: 100%;
}

div.overlay{
    content:"";
    position: absolute;
    height: 75vh;
    width: 100%;
    background-color: hsla(108, 22%, 36%, 0.37);
    z-index: 1;
}

div.collab{
    color: #F5E6CC;
    width: 95vw;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div.collab h1{
    font-size: 2.3rem;
    text-align: center;
    width: 87vw;
}

div.collab p{
    font-size: 0.9rem;
    width: 80vw;
    line-height: 1.2rem;
}

.get{
    margin-top: 2rem;
}

.get a{
    color: #F5E6CC;
    text-decoration: none;
    border: 1px solid #F5E6CC;
    padding: 0.7rem 1.6rem;
    border-radius: 0.4rem;
    font-size: 0.8rem;
}

/*MAKE SECTION*/
section.make{
    padding: 4rem 8rem;
    display: flex;
    gap: 3.5rem;
    margin-bottom: 2rem;
}